# Binaries
Output/Debug_x64
Output/Debug_x64_tmp
Output/Release_x64
Output/Release_x64_tmp

Code/**/packages.config
Code/packages/*.*

# Visual Studio files and folder
.vs/
**.vcxproj.user
**.nsight-gfxproj
**.DotSettings
**.user

# LFS Folders
lfs/
hooks/

# Log files
**.log

# Dumps
*.nvdbg
*.nv-gpudmp
*gpudmp.json

# Bruno files
**.bruno

# Exceptions
